<div class="container sign_up">
	<div class="row">
		<div class="header">
			<h1>SIGN UP</h1>	
		</div>
	</div>
<div class="row">
		<div class="sign-up-form col-md-6 col-md-offset-3 col-xs-4 col-xs-offset-4 col-xs-12 ">
		
		<% if @user.errors.any? %>
			
		<% end %>

		<%= form_for @user ,class:"form-horizontal" do |f| %>
			<div class="form-group">
				<%=f.label :name , class: "label label-primary control-label"%>
				<%= f.text_field :name ,class: "form-control",placeholder: "First Name"%>
			</div>
			
			<% if !@user.new_record? %>
			<div class="form-group">
			<%= f.label :user_name,class: "label label-primary control-label"%>
			<%= f.text_field :user_name, class: "form-control",placeholder: "User name"%>
			</div>
			<%end%>
			<% if @user.new_record? %>
			<div class="form-group">
				<%= f.label :email , class: "label label-primary control-label"%>
				<%= f.text_field :email ,class: "form-control",placeholder:"Email" %>
			</div>
			<div class="form-group">
				<%= f.label :password , class: "label label-primary control-label"%>
				<%= f.password_field :password , class: "form-control",placeholder:"Password"%>
			
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation , class: "label label-primary control-label"%>
				<%=f.password_field :password_confirmation ,class: "form-control",placeholder:"Repassword"%>
			</div>
			<%end%>
			<div class="center">
			<%if @user.new_record? %>
				<%= f.submit 'Sign up', class: "btn btn-primary"  %><br>
				<label>Already user? <%= link_to "Sign in" ,new_user_session_path %></label>
			<%else%>
				<%= f.submit 'Update', class: "btn btn-primary"  %>
			<%end%>
				
			</div>
		<% end %>
		
		</div>
</div>