<div class="xl" id= "comment_<%=@comment.id%>">
    <div class="comments-body">
       <h4 class="comments-heading"><%= link_to "#{@comment.account.first_name+ " "+ @comment.account.last_name }",user_path(id:@comment.account.id)%> </h4>
        <small><i><%= "Post on #{@comment.created_at} "%></i></small>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%=link_to "Edit",edit_article_comment_path(article_id: @comment.article_id , id: @comment.id) %>
                
              </li>
              <li><%=link_to "Delete",article_comment_path(article_id: @comment.article_id, id: @comment.id), method: :delete,remote: true, data: {confirm: "Are u sure?"} %>
                
              </li>

            </ul>
          </div>
    
  <p><%=@comment.content%></p>
  <%if !@comment.photo.nil?%>
  <%=  image_tag("/images/#{@comment.photo.id}/#{@comment.photo.image_file_name}", width:300)  %>
  <%else%>
  Ko co hinh
  <%end %>
    </div>
</div>