
	<div class="post-form col-md-6 col-md-offset-3" id="edit-form">
		<div class="post-header">
			<div class="form-horizontal">
				<div class="post-header-left">
					<%=link_to "#{ @article.user.name}", user_path(user_name:@article.user.user_name) %>
					<p id="datepost">Post on <%= @article.created_at%></p>
					<p style="right"></p>
				</div>
				<div class=" post-header-right">
			
				</div>
			</div>
		</div>
	<div class="post-body"> 
	 	<%= form_for @article,remote: true do |f| %>
	 		<%= f.text_area :content ,class:"form-control input-lg",style:'border:none; min-width: 100%;' %>
			<div class="post-footer">
				<div class="btn-group">
					<%= f.submit "Save changes", class: "btn btn-primary", style:"text-align:center;" %>
				<% end %>
			</div>
	 		</div>
	<%= link_to 'Comments',article_path(id: @article.id)	 %>
		</div>
	</div>