

<div class="container">


	<div class="media-body">
		<h4 class="media-heading"><%= link_to "#{@account.first_name+" " + @account.last_name}",account_path(username:@account.username)%> <small><i>Posted on
		<%= @article.created_at %> 
		</i></small></h4> 
		<p><%= @article.content %></p>
		<%@article.photos.each do |f|%>
	 <%= image_tag("/images/#{f.id}/#{f.image_file_name}", width:300) %>
		<%end%>
		<br>
		<% if logged_in?%>
			<button data-toggle="collapse" data-target="#demo" class='btn btn-default'>Comment
			</button>

			<div id="demo" class="collapse">
			 <div class="media">
				
					<%= form_for @comment , url: article_comments_path(article_id: @article.id),authenticity_token: true,remote: true do |f| %>
						<div class="form-group">
							<label for="comment" >Comment:</label>
							<%= f.text_area  :content , class:"form-control", :rows=>"3"%>
							<%= f.file_field :photo %>
							<%= f.submit class:'btn btn-default'%>
						</div>
					<% end %>

			 
			</div>

		 </div>
		<%end%>
	</div>  	
 
	<div class = "container" id="comments">
		<%= render 'comments/comments'%>
	</div>
</div>
</div>
</div>
