<%if logged_in?%>
<div class="card">
    <div class="card-wall">
        <img src=<%="#{@profile.avatar.url}"%>  class="wallpaper">
    </div>
    <div class="card-header">
        <%=image_tag(@profile.avatar.url,class:"avatar")%>
        <h1><%="#{@profile.first_name+@profile.last_name}"%></h1>
        <p class="title"><%="#{@profile.first_name+@profile.last_name}"%></p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <div class="btn-group">
        <button type="button" class="btn btn-primary">Chat</button>
        <button type="button" class="btn btn-default"><%= link_to "Add Friend",user_relationships_path(@profile.id), method: :post%> </button>
      
    </div>
  </div>
</div>
<%end%>