
<div class="card">
	<div class="card-wall">
		<img src=<%="#{account.wallpaper.url}"%>  class="wallpaper">
	</div>
	<div class="card-header">
		<%=image_tag(account.avatar.url,class:"avatar")%>
		<h3><%="#{account.first_name+account.last_name}"%></h3>
		<p class="title"><%="#{account.first_name+account.last_name}"%></p>
		<p>Harvard University</p>
		<a href="#"><i class="fa fa-dribbble"></i></a> 
		<a href="#"><i class="fa fa-twitter"></i></a> 
		<a href="#"><i class="fa fa-linkedin"></i></a> 
		<a href="#"><i class="fa fa-facebook"></i></a> 
		<div class="btn-group">
		<button type="button" class="btn btn-primary">Chat</button>
		<%= link_to "Add friend",friendships_path(followed: account.id),method: :post,remote: true, type:"button", class:"btn btn-default", id:"add-friend" %>
	  
	</div>
  </div>
</div>
