<!DOCTYPE html>
<html>
  <head>
    <title><% if yield(:title) %>
             <%= yield(:title)%>
             <%else%>
             <%= "Myapp"%>
            <%end%>  
      </title>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if params[:action] != "sign_up" && params[:action] !='sign_in' %>
      <%= render 'layouts/header' %>
    <%end%>
  	<%= yield %>
  </body>
</html>
