<div class="container-message">
<div class="row">
	<div class="col-md-6 friend">

		<% @friends.each do |friend|%>
			<div id="friend_<%=friend.id%>">
			<%=link_to friend.first_name,account_path(username: friend.username)%>
			</div>
		<%end%>
	</div>
	<div class="col-md-6 wait_friend">
		<% @wait_friends.each do |wait_friend|%>
			<div id="friend_<%=wait_friend.id%>">
			<%=link_to wait_friend.first_name,account_path(username: wait_friend.username)%>
			<%=link_to "Accept",friendship_path(Friendship.find_by("follower_id = ? AND  followed_id = ? OR follower_id = ? AND followed_id = ?",current_account,wait_friend.id,current_account,wait_friend)),method: :patch,remote: true%>
			</div>
		<%end%>
	</div>

</div>
</div>